<div class="mt-2 text-white">
    <!--h1 class="mb-1"><i class="bi bi-stopwatch-fill"></i> {{'match_gen_max_time'|translate}}: <b>{{ settings.maxTimeRoundSec }}</b>s</h1>
    <input [ngModel]="settings.maxTimeRoundSec" (change)="changeMaxTime($event)" (input)="changeMaxTime($event)" min="20" max="120" type="range" class="form-range"-->

    <h1 class="my-1"><i class="bi bi-joystick"></i> {{'match_gen_max_rounds'|translate}}: <b>{{ settings.maxRounds }}</b></h1>
    <input [(ngModel)]="settings.maxRounds" (change)="changeRounds($event)" (input)="changeRounds($event)" min="3" max="15" type="range" class="form-range">

    <h1 class="my-1"><i class="bi bi-trophy-fill"></i> {{'match_gen_best_of'|translate}}: <b>{{ settings.roundsToWin }}</b></h1>
    <input [(ngModel)]="settings.roundsToWin" (change)="changeRoundsToWin($event)" (input)="changeRoundsToWin($event)" min="2" max="15" type="range" class="form-range">
    <h1 *ngIf="winPointsNotPossible" class="text-red-500">{{'match_gen_best_of_error'|translate}}</h1>

    <h1 class="my-1"><i class="bi bi-person-raised-hand"></i> {{'match_gen_team_size'|translate}}: <b>{{ settings.teamSize }}</b> {{'match_gen_players'|translate}}</h1>
    <input [(ngModel)]="settings.teamSize" (change)="changeTeamSize($event)" (input)="changeTeamSize($event)" min="1" max="2" type="range" class="form-range">

    <h1 *ngIf="isLocalGame" class="my-1"><i class="bi bi-map-fill"></i> {{'match_gen_choose_map'|translate}}</h1>
    <select *ngIf="isLocalGame" class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="settings.mapName">
        <option value="Default" selected>{{'match_gen_default'|translate}}</option>
        <option *ngFor="let item of maps" [value]="item">{{item}}</option>
    </select>
    
    <div *ngIf="isLocalGame">
      <h1 class="my-1"><i class="bi bi-robot"></i> Select player or bot</h1>
      <div class="flex my-1 justify-evenly">
        <div class="flex-col gap-4">
          <div *ngFor="let paddle of paddlesBindedA; let i = index">
            <button class="text-lg"(click)="togglePaddle(0,i)" [ngClass]="{'bi bi-controller' : paddle, 'bi bi-robot' : !paddle}"></button>
          </div>
        </div>
        <div class="flex-col gap-4">
          <div *ngFor="let paddle of paddlesBindedB; let i = index">
            <button class="text-lg" (click)="togglePaddle(1,i)" [ngClass]="{'bi bi-controller' : paddle, 'bi bi-robot' : !paddle}"></button>
          </div>
        </div>
      </div>
    </div>
</div>
