<div id="sp-div" class="rounded h-full p-4">
    <h1 class="font-bold text-2xl"><i class="bi bi-incognito"></i> Anonimizar tus datos</h1>
    <p class="text-zinc-300">Si quieres, te damos la opción de anonimizar tus datos.</p>

    <div class="d-inline-flex gap-1 mt-2 mb-2">
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#whatIsAnonymization" aria-expanded="false" aria-controls="whatIsAnonymization">
            <i class="bi bi-question-circle-fill"></i>¿Para qué sirve?
        </button>
        <button class="btn btn-warning btn-sm" type="button">
            <i class="bi bi-shield-shaded"></i>Anonimizar tus datos
        </button>
    </div>
    <div class="collapse" id="whatIsAnonymization">
        <div class="card card-body">
            <p>Anonimizar tus datos consiste en procesar y modificar conjuntos de datos para eliminar o transformar tu información personal de manera
            que las personas a las que se refieren los datos no puedan ser identificadas directa o indirectamente.</p>
            <p>Este proceso es crucial para proteger la privacidad y cumplir con normativas de protección de datos, como el
                <b>Reglamento General de Protección de Datos (RGPD)</b> de la <b>Unión Europea</b></p>
            <p><i>Nota: Anonimizar tus datos no es obligatorio</i></p>
        </div>
    </div>

    <h1 class="mt-4 font-bold text-2xl"><i class="bi bi-trash-fill"></i> Eliminar tu cuenta</h1>
    <p class="text-zinc-300">En cuanto elimines tu cuenta, ya no habrá vuelta atrás. Se eliminaran todas tus estadísticas y datos de SpacePong.</p>
    <button class="transition-colors text-white bg-red-700 hover:bg-red-800 rounded-lg text-sm px-2 py-2.5 me-2 mb-2 mt-2" type="button">
        <i class="bi bi-trash-fill"></i> Eliminar tu cuenta
    </button>
</div>