<!-- <div class="w-96 bg-gray-300 rounded shadow-md">
	<div class="text-center pt-4">
		<h1>Friends list</h1>
	</div>
	<p class="text-center pt-8 text-slate-400">You don't have any friends :(</p>
</div> -->

<div id="sp-div" *ngIf="loading; else content" class="flex flex-col items-center justify-center rounded" style="width: 20rem;">
	<h1 class="m-4 text-white">Loading data... </h1>
	<div class="spinner-border text-warning mb-4" role="status"></div>
</div>

<ng-template #content>
	<div *ngIf="!user_not_found && !unauthorizedAccess" id="sp-div" class="items-center p-2 max-w-xl md:max-w-4xl md:flex-row mx-auto h-fixed rounded-xl">
		<div class="md:shrink-0 flex items-center">
			<div class="w-full shadow-md rounded">
				<div [ngClass]="'gradient-id-' + user_color" class="md:flex rounded">
					<img src="../../../assets/img/transcendence_logo.png" class="rounded-full w-36 h-36 ml-4 mt-4 mb-4 flex items-center justify-center bg-neutral-400" alt="Foto de perfil del jugador">
					<div class="ml-4 flex flex-col justify-center">
						<div class="flex items-center">
							<h1 class="text-5xl font-bold">{{ username }}</h1>
							<div class="w-4 h-4 rounded-full bg-green-400 ml-2 mt-2"></div>
						</div>
						<h1 class="text-gray-600" style="color: #a7bec4;">{{'profile_lastonline'|translate}}: 4/04/2084</h1>
					</div>
					<div *ngIf="editProfile" class="ml-auto m-8">
						<div class="lg:tooltip" data-tip="User Settings">
							<a routerLink="/settings"><button class="btn btn-active btn-neutral ml-2"><i class="bi bi-gear-fill text-2xl"></i></button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex">
			<div class="stats bg-gradient-to-r from-slate-900 to-indigo-950 mt-2 p-2 w-full">
				<div class="stat">
					<div class="stat-figure text-secondary">
						<i class="bi bi-controller text-2xl text-primary"></i>
					</div>
					<div class="stat-title text-slate-500">{{'profile_stats_gamespl'|translate}}</div>
					<div class="stat-value text-primary">{{ total }}</div>
				</div>
				
				<div class="stat">
					<div class="stat-figure text-secondary">
						<i class="bi bi-trophy-fill text-2xl" style="color: #35bc9d;"></i>
					</div>
					<div class="stat-title text-slate-500">{{'profile_stats_gameswin'|translate}}</div>
					<div class="stat-value" style="color: #35bc9d;">{{ wins }}</div>
				</div>
				
				<div class="stat">
					<div class="stat-figure text-secondary">
						<i class="bi bi-x-octagon-fill text-2xl text-error"></i>
					</div>
					<div class="stat-title text-slate-500">{{'profile_stats_gamesdefeats'|translate}}</div>
					<div class="stat-value text-error">{{ defeats }}</div>
				</div>

				<div class="stat">
					<button [ngClass]="{'': !editProfile,'grayscale disabled opacity-25': editProfile}" class="btn mb-2 btn-warning btn-sm"><i class="bi bi-person-heart"></i></button>
					<button class="btn btn-primary btn-sm"><i class="bi bi-chat-dots-fill"></i></button>
				</div>
			</div>
		</div>
	</div>
	<app-not-found *ngIf="user_not_found"></app-not-found>
	<app-unauthorized *ngIf="unauthorizedAccess && !loading"></app-unauthorized>
</ng-template>