<app-not-found *ngIf="user_not_found"></app-not-found>
<div class="h-3/4 profileMain" #containerRef>
	<div *ngIf="loading; else content" class="sp-div flex flex-col items-center justify-center rounded text-white"
		style="width: 20rem;">
		<h1 class="m-4">{{'user_profile_loading'|translate}}</h1>
		<div class="spinner-border text-warning mb-4" role="status"></div>
		<p *ngIf="tooLong" class="mx-4 mb-4 font-bold text-center" [@easeOut]>{{'user_profile_timeout'|translate}}</p>
	</div>

	<ng-template #content>
		<div *ngIf="!user_not_found && !unauthorizedAccess && info"
			class="sp-div profileLeft items-center p-2 rounded-xl">
			<div class="md:shrink-0 items-center">
				<div class="w-full shadow-md rounded">
					<div [ngClass]="'gradient-id-' + info.color" class="md:flex rounded">
						<img src="{{info.avatarUrl}}"
							class="rounded-full w-36 h-36 ml-4 mt-4 mb-4 flex items-center justify-center bg-neutral-400"
							alt="Foto de perfil del jugador">
						<div class="ml-4 flex flex-col justify-center">
							<div class="flex items-center">
								<h1 class="text-5xl font-bold">{{ info.username }}</h1>
								<div class="w-4 h-4 rounded-full bg-green-400 ml-2 mt-2"></div>
							</div>
						</div>
						<div *ngIf="editProfile" class="ml-auto m-8">
							<div class="lg:tooltip" data-tip="User Settings">
								<a routerLink="/settings"><button class="btn btn-active btn-warning ml-2"><i
											class="bi bi-gear-fill text-2xl"></i></button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex">
				<div class="stats bg-gradient-to-r from-slate-900 to-indigo-950 mt-2 p-2 w-full">
					<div class="stat">
						<div class="stat-figure text-secondary">
							<i class="bi bi-controller text-2xl text-primary"></i>
						</div>
						<div class="stat-title text-slate-500">{{'profile_stats_gamespl'|translate}}</div>
						<div class="stat-value text-primary">{{ info.statistics.total }}</div>
					</div>

					<div class="stat">
						<div class="stat-figure text-secondary">
							<i class="bi bi-trophy-fill text-2xl" style="color: #35bc9d;"></i>
						</div>
						<div class="stat-title text-slate-500">{{'profile_stats_gameswin'|translate}}</div>
						<div class="stat-value" style="color: #35bc9d;">{{ info.statistics.wins }}</div>
					</div>

					<div class="stat">
						<div class="stat-figure text-secondary">
							<i class="bi bi-x-octagon-fill text-2xl text-error"></i>
						</div>
						<div class="stat-title text-slate-500">{{'profile_stats_gamesdefeats'|translate}}</div>
						<div class="stat-value text-error">{{ info.statistics.loses }}</div>
					</div>
					<div class="stat">
						<button *ngIf="!friendService.friendExist(userId) && !friendADD" (click)="toggleAddFriend()" class="btn mb-2 btn-warning btn-sm"><i class="bi bi-person-heart"></i></button>
						<button *ngIf="selfInfo!.info.id !== info.id! && !authService.isUserBlocked(userId) && !userBlocked" (click)="blockUser()" class="btn mb-2 btn-warning btn-sm"><i class="bi bi-ban"></i></button>
						<button *ngIf="selfInfo!.info.id !== info.id"
							(click)="onChatButton()" class="btn mb-2 btn-primary btn-sm"><i
								class="bi bi-chat-dots-fill"></i></button>
						<button (click)="onMatchHistoryButton()" class="btn mb-2 btn-primary btn-sm"><i
								class="bi bi-clock-fill"></i></button>
						<button (click)="onFriendListButton()" *ngIf="(authService.userInfo!.info.id == userId)" class="btn mb-2 btn-primary btn-sm"><i
									class="bi bi-people-fill"></i></button>
					</div>
				</div>
			</div>
		</div>
		<app-friend-list *ngIf="(this.authService.userInfo!.info.id == userId) && info && showFriendList" class="profileRight"></app-friend-list>
		<app-match-history *ngIf="info && showMatchHistory" [userId]="info.id" [inputMatches]="info.matchHistory"
			class="profileRight"></app-match-history>
		<app-chat *ngIf="info && showChat" [defaultChat]="info.username" class="profileRight"></app-chat>
		<app-unauthorized *ngIf="unauthorizedAccess && !loading"></app-unauthorized>
	</ng-template>
</div>