<br/>
<div class="flex flex-col lg:flex-row justify-between mx-24 mt-12 mb-12 text-xl font-mono rounded">
	<div class="w-3/4 bg-stone-300 shadow-md rounded">
		<div class="md:flex bg-orange-200 rounded">
			<img src="../../../assets/img/transcendence_logo.png" class="rounded-full w-36 h-36 ml-4 mt-4 mb-4 flex items-center justify-center bg-neutral-400">
			<div class="ml-4 flex flex-col justify-center">
				<div class="flex items-center">
					<h1 class="text-5xl">{{ username }}</h1>
					<div class="w-4 h-4 rounded-full bg-green-400 ml-2 mt-2"></div>
				</div>
				<h1 class="text-gray-600">last seen: 4/04/2084</h1>
			</div>
		</div>
		<div class="mt-48">
			
		</div>
	</div>
	<div class="w-96 bg-gray-300 rounded shadow-md">
		<div class="text-center pt-4">
			<h1>Friends list</h1>
		</div>
		<p class="text-center pt-8 text-slate-400">You don't have any friends :(</p>
	</div>
</div>