# Archivos específicos de sistema operativo:
.DS_Store

# Archivos de configuración del sistema: 
.vscode/
src/backend/mysite/myenv/
src/backend/mysite/chat/__pycache__/


*.pyc

src/frontend/angular/src/app/pages/pong/AAA.ts
