<div *ngIf="tree.numberOfInitGroups == 4" class="container bracket">
    <div class="flex align-items-center">
        <div class="col-md-3 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl ">
            <h2>{{'tournament_round'|translate}}1</h2>
            <div class="match">
                <p>{{'tournament_match'|translate}}1: {{tree.data[0].groups[0]}} vs {{tree.data[0].groups[1]}}</p>
            </div>
            <div class="match">
                <p>{{'tournament_match'|translate}}2: {{tree.data[1].groups[0]}} vs {{tree.data[1].groups[1]}}</p>
            </div>
        </div>
        <div class="col-md-3 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl ">
            <h2>{{'tournament_final'|translate}}</h2>
            <div class="match">
                <p *ngIf="!tree.data[2]">{{'tournament_winner_match'|translate}}1 vs {{'tournament_winner_match'|translate}}2</p>
                <p *ngIf="tree.data[2]">{{tree.data[2].groups[0]}} vs {{tree.data[2].groups[1]}}</p>
            </div>
        </div>
        <div class="col-md-3 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl ">
            <h2>{{'tournament_winner'|translate}}</h2>
            <p *ngIf="winner === undefined" id="winner">{{'tournament_tbd'|translate}}</p>
            <p *ngIf="winner !== undefined" id="winner">{{ winner }}</p>
        </div>
    </div>
</div>





<div *ngIf="tree.numberOfInitGroups == 8" class="container bracket">
    <div class="flex align-items-center ">
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl ">
            <h2>{{'tournament_round'|translate}}1</h2>
                <div class="match">
                    <p>{{'tournament_match'|translate}}1: {{tree.data[0].groups[0]}} vs {{tree.data[0].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}2: {{tree.data[1].groups[0]}} vs {{tree.data[1].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}3: {{tree.data[2].groups[0]}} vs {{tree.data[2].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}4: {{tree.data[3].groups[0]}} vs {{tree.data[3].groups[1]}}</p>
                </div>
            </div>
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl gap5 ">
            <h2>{{'tournament_semifinal'|translate}}</h2>
            <div class="match">
                <p *ngIf="!tree.data[4]">{{'tournament_winner_match'|translate}}1 vs {{'tournament_winner_match'|translate}}2</p>
                <p *ngIf="tree.data[4]">{{tree.data[4].groups[0]}} vs {{tree.data[4].groups[1]}}</p>
            </div>
            <div class="match">
                <p *ngIf="!tree.data[5]">{{'tournament_winner_match'|translate}}3 vs {{'tournament_winner_match'|translate}}4</p>
                <p *ngIf="tree.data[5]">{{tree.data[5].groups[0]}} vs {{tree.data[5].groups[1]}}</p>
            </div>
        </div>
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl gap5 ">
            <h2>{{'tournament_final'|translate}}</h2>
            <div class="match">
                <p *ngIf="!tree.data[6]">{{'tournament_winner_semi'|translate}}1 vs {{'tournament_winner_semi'|translate}}2</p>
                <p *ngIf="tree.data[6]">{{tree.data[6].groups[0]}} vs {{tree.data[6].groups[1]}}</p>
            </div>
        </div>
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl gap5 ">
            <h2>{{'tournament_winner'|translate}}</h2>
            <p id="winner">{{'tournament_tbd'|translate}}</p>
        </div>
    </div>
</div>

<div *ngIf="tree.numberOfInitGroups == 16" class="container bracket">
    <div class="flex align-items-center ">
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl ">
            <h2>{{'tournament_round'|translate}}1</h2>
                <div class="match">
                    <p>{{'tournament_match'|translate}}1: {{tree.data[0].groups[0]}} vs {{tree.data[0].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}2: {{tree.data[1].groups[0]}} vs {{tree.data[1].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}3: {{tree.data[2].groups[0]}} vs {{tree.data[2].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}4: {{tree.data[3].groups[0]}} vs {{tree.data[3].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}5: {{tree.data[4].groups[0]}} vs {{tree.data[4].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}6: {{tree.data[5].groups[0]}} vs {{tree.data[5].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}7: {{tree.data[6].groups[0]}} vs {{tree.data[6].groups[1]}}</p>
                </div>
                <div class="match">
                    <p>{{'tournament_match'|translate}}8: {{tree.data[7].groups[0]}} vs {{tree.data[7].groups[1]}}</p>
                </div>
            </div>
            <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl ">
                <h2>{{'tournament_round'|translate}}2</h2>
                    <div class="match">
                        <div class="match">
                            <p *ngIf="!tree.data[8]">{{'tournament_winner_match'|translate}}1 vs {{'tournament_winner_match'|translate}}2</p>
                            <p *ngIf="tree.data[8]">{{tree.data[8].groups[0]}} vs {{tree.data[8].groups[1]}}</p>
                        </div>
                    </div>
                    <div class="match">
                        <div class="match">
                            <p *ngIf="!tree.data[9]">{{'tournament_winner_match'|translate}}3 vs {{'tournament_winner_match'|translate}}4</p>
                            <p *ngIf="tree.data[9]">{{tree.data[9].groups[0]}} vs {{tree.data[9].groups[1]}}</p>
                        </div>
                    </div>
                    <div class="match">
                        <div class="match">
                            <p *ngIf="!tree.data[10]">{{'tournament_winner_match'|translate}}5 vs {{'tournament_winner_match'|translate}}6</p>
                            <p *ngIf="tree.data[10]">{{tree.data[10].groups[0]}} vs {{tree.data[10].groups[1]}}</p>
                        </div>
                    </div>
                    <div class="match">
                        <div class="match">
                            <p *ngIf="!tree.data[11]">{{'tournament_winner_match'|translate}}7 vs {{'tournament_winner_match'|translate}}8</p>
                            <p *ngIf="tree.data[11]">{{tree.data[11].groups[0]}} vs {{tree.data[11].groups[1]}}</p>
                        </div>
                    </div>
                </div>
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl gap5 ">
            <h2>{{'tournament_semifinal'|translate}}</h2>
            <div class="match">
                <p *ngIf="!tree.data[12]">{{'tournament_winner_round'|translate}}1 {{'tournament_round'|translate}}1 vs {{'tournament_winner_round'|translate}}1 {{'tournament_round'|translate}}2</p>
                <p *ngIf="tree.data[12]">{{tree.data[12].groups[0]}} vs {{tree.data[12].groups[1]}}</p>
            </div>
            <div class="match">
                <p *ngIf="!tree.data[13]">{{'tournament_winner_round'|translate}}1 {{'tournament_round'|translate}}3 vs {{'tournament_winner_round'|translate}}1 {{'tournament_round'|translate}}4</p>
                <p *ngIf="tree.data[13]">{{tree.data[13].groups[0]}} vs {{tree.data[13].groups[1]}}</p>
            </div>
        </div>
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl gap5 ">
            <h2>{{'tournament_final'|translate}}</h2>
            <div class="match">
                <p *ngIf="!tree.data[14]">{{'tournament_winner_semi'|translate}}1 vs {{'tournament_winner_semi'|translate}}2</p>
                <p *ngIf="tree.data[14]">{{tree.data[14].groups[0]}} vs {{tree.data[14].groups[1]}}</p>
            </div>
        </div>
        <div class="col-md-2 column sp-div h-full flex flex-col align-items-center  gap-2 p-2 max-w-xl md:max-w-4xl  mx-auto rounded-xl gap5 ">
            <h2>{{'tournament_winner'|translate}}</h2>
            <p id="winner">{{'tournament_tbd'|translate}}</p>
        </div>
    </div>
</div>
<h2 *ngIf="preview !== undefined" class="text-white text-5xl">{{getVs()}}</h2>
<h2 *ngIf="winner !== undefined" class="text-white text-5xl">🥳{{winner}}🥳</h2>
