#time {
    text-align: right;
    color: black;
    background-color: gray;
}

#welcome {
    color: lime;
    background-color: magenta;
    font-family: 'Jokerhand', cursive;
}

html, body {
   margin: 0;
   height: 100%;
}
#c {
   width: 90%;
   height: 90%;
   display: block;
}

.paused-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.paused-text {
    font-size: 80px;
    color: ivory;
}