<div id="sp-div" class="md:flex items-center p-2 max-w-xl md:max-w-4xl mx-auto h-96 rounded-xl">
	<div class="md:shrink-0 flex items-center">
		<i class="animate-spin bi bi-patch-question-fill text-yellow-900 md:text-9xl" style="animation-duration: 8s;"></i>
	</div>
	<div class="md:flex flex-col text-left p-8">
		<h1 class="text-6xl font-bold">Page not found</h1>
		<p class="mt-2 text-2xl">The page you are trying to access has been moved or does not exist.</p>
		<p class="italic text-neutral-500">Error code: 404</p>
	</div>
</div>