<div class="sp-div md:flex items-center p-2 max-w-xl md:max-w-4xl mx-auto h-96 rounded-xl">
	<div class="md:shrink-0 flex items-center">
		<i class="animate-spin bi bi-patch-question-fill text-yellow-900 md:text-9xl" style="animation-duration: 8s;"></i>
	</div>
	<div class="md:flex flex-col text-left p-8">
		<h1 class="text-6xl font-bold">{{'error_not_found'|translate}}</h1>
		<p class="mt-2 text-2xl">{{'error_not_found_text'|translate}}</p>
		<p class="italic text-neutral-500">{{'error_code_404'|translate}}</p>
	</div>
</div>