mysite/django.log

mysite/chat/migrations/*
!mysite/chat/migrations/__init__.py
mysite/chat/__pycache__/*

mysite/matchmaking/migrations/*
!mysite/matchmaking/migrations/__init__.py
mysite/matchmaking/__pycache__/*

mysite/mysite/__pycache__/*
!mysite/mysite/migrations/__init__.py
mysite/mysite/migrations/*

mysite/polls/migrations/*
!mysite/polls/migrations/__init__.py
mysite/polls/__pycache__/*

mysite/media/avatars/*
!mysite/media/avatars/default.jpg