<div *ngIf="loading; else content" class="sp-div loading-tab flex flex-col items-center justify-center rounded" style="width: 20rem;">
	<h1 class="m-4">{{'settings_dataload'|translate}}</h1>
	<div class="spinner-border text-warning mb-4" role="status"></div>
    <p *ngIf="tooLong" class="mx-4 mb-4 font-bold text-center" [@easeOut]>If it is taking too long, please check that you are logged in</p>
</div>

<ng-template #content>
	<div class="settings-tab container-fluid d-flex justify-content-center align-items-center">
		<div class="static mx-auto col-12 col-md-6">
			<div class="flex items-center mb-2">
				<a routerLink="/profile/{{ userId }}">
					<button type="button" class="mr-2 btn btn-warning rounded-full"><i class="text-xl bi bi-arrow-left"></i> {{'return'|translate}}</button>
				</a>
				<h2 class="text-2xl text-sp-text font-bold">{{'settings_title'|translate}}</h2>
			</div>
			<div class="flex flex-col md:flex-row">
				<div class="sp-div settings-tab-margin pb-4 md:flex-row h-fit rounded">
					<ul class="pl-4 mr-4 mt-4 w-44 rounded-md md:mb-0 h-fit divide-x divide-slate-500">
						<h2 class="text-2xl text-sp-text font-bold">{{'settings_tab_title_pro'|translate}}</h2>
						<li (click)="activeTab = 'color'" [ngClass]="{'selected': activeTab === 'color'}" class="transition pl-4 py-2 text-zinc-300 hover:text-slate-400"><a><i class="bi bi-palette-fill"></i> {{'settings_tab_content_color'|translate}}</a></li>
						<li (click)="activeTab = 'language'" [ngClass]="{'selected': activeTab === 'language'}" class="transition pl-4 py-2 text-zinc-300 hover:text-slate-400"><a><i class="bi bi-translate"></i> {{'settings_tab_content_lang'|translate}}</a></li>
					</ul>
					<ul class="pl-4 mr-4 mt-2 w-44 rounded-md md:mb-0 h-fit divide-x divide-slate-500">
						<h2 class="text-2xl text-sp-text font-bold">{{'settings_tab_title_acc'|translate}}</h2>
						<li (click)="activeTab = 'public'" [ngClass]="{'selected': activeTab === 'public'}" class="transition pl-4 py-2 text-zinc-300 hover:text-slate-400"><a><i class="bi bi-person-square"></i> {{'settings_tab_content_public'|translate}}</a></li>
						<li *ngIf="account42 == false" (click)="activeTab = 'security'" [ngClass]="{'selected': activeTab === 'security'}" class="transition pl-4 py-2 text-zinc-300 hover:text-slate-400"><a><i class="bi bi-person-fill-lock"></i> {{'settings_tab_content_security'|translate}}</a></li>
						<li (click)="activeTab = 'privacy'" [ngClass]="{'selected': activeTab === 'privacy'}" class="transition pl-4 py-2 text-zinc-300 hover:text-slate-400"><a><i class="bi bi-shield-shaded"></i> {{'settings_tab_content_security'|translate}}</a></li>
					</ul>
				</div>
				<app-settings-p-color [loaded]="loading" *ngIf="activeTab === 'color'" class="w-full"></app-settings-p-color>
				<app-settings-p-language [loaded]="loading" *ngIf="activeTab === 'language'" class="w-full"></app-settings-p-language>
                <app-settings-p-public [loaded]="loading" *ngIf="activeTab === 'public'" class="w-full"></app-settings-p-public>
				<app-settings-p-security [loaded]="loading" *ngIf="activeTab === 'security'" class="w-full"></app-settings-p-security>
				<app-settings-p-privacy [loaded]="loading" *ngIf="activeTab === 'privacy'" class="w-full"></app-settings-p-privacy>
			</div>
		</div>
	</div>
</ng-template>