<div class="settings-tab flex flex-col mx-auto w-1/2 md:flex-row">
	<div id="sp-div" class="md:flex-row rounded">
		<ul class="pl-4 mt-4 w-44 rounded-md md:mb-0 h-fit divide-x divide-slate-500">
			<h2 class="text-2xl text-sp-text font-bold">Profile</h2>
			<li class="pl-4 py-2 text-zinc-300"><a><i class="bi bi-palette-fill"></i> Your color</a></li>
			<li class="pl-4 py-2 text-zinc-300"><a><i class="bi bi-translate"></i> Language</a></li>
		</ul>
		<ul class="pl-4 mt-2 w-44 rounded-md md:mb-0 h-fit divide-x divide-slate-500">
			<h2 class="text-2xl text-sp-text font-bold">Account</h2>
			<li class="pl-4 py-2 text-zinc-300"><a><i class="bi bi-person-square"></i> Public profile</a></li>
			<li class="pl-4 py-2 text-zinc-300"><a><i class="bi bi-person-fill-lock"></i> Account security</a></li>
		</ul>
	</div>
	<div *ngIf="profileColorEdit" id="sp-div" class="rounded ml-4 w-full h-3/4 p-4">
		<h1 class="font-bold text-2xl"><i class="bi bi-palette-fill"></i> Choose your color</h1>
		<p class="text-zinc-300">This will be shown to other players ingame and in your profile</p>
		<div class="flex mt-2 mb-4">
			<div class="transition mt-2 mr-2 w-12 h-12 bg-red-500 rounded-full hover:bg-red-600"></div>
			<div class="transition mt-2 mr-2 w-12 h-12 bg-orange-500 rounded-full hover:bg-orange-600"></div>
			<div class="transition mt-2 mr-2 w-12 h-12 bg-amber-500 rounded-full hover:bg-amber-600"></div>
			<div class="transition mt-2 mr-2 w-12 h-12 bg-lime-500 rounded-full hover:bg-lime-600"></div>
			<div class="transition mt-2 mr-2 w-12 h-12 bg-blue-700 rounded-full hover:bg-blue-800"></div>
			<div class="transition mt-2 w-12 h-12 bg-indigo-400 rounded-full hover:bg-indigo-500"></div>
		</div>
		<h1 class="font-bold text-2xl"><i class="bi bi-eye-fill"></i> Preview</h1>
		<div class="md:flex bg-gradient-to-r from-indigo-600 to-indigo-900 rounded p-2 mt-2 max-w-lg">
			<img src="../../../assets/img/transcendence_logo.png" class="rounded-full w-12 h-12 ml-4 mt-4 mb-4 flex items-center justify-center bg-neutral-400"><div class="flex items-center">
			<div class="ml-4 flex flex-col justify-center">
				<div class="flex items-center">
					<h1 class="text-lg font-bold">Usuario</h1>
					<div class="w-4 h-4 rounded-full bg-green-400 ml-2"></div>
				</div>
				<h1 class="text-gray-600" style="color: #a7bec4;">last online: 4/04/2084</h1>
			</div>
		</div>
	</div>
</div>