.loading-tab {
	position: absolute;
	top: 30%;
	left: 48.5%;
	transform: translateX(-50%);
}

.selected {
	background-color: rgba(30, 41, 59, 0.491);
}

li {
	user-select: none;
	cursor: pointer;
}

/* Media queries */
.settings-tab {
	margin-top: 8vh;
}

.settings-tab-margin {
	margin-right: 16px;
}

@media (max-width: 575.98px) {
	.settings-tab {
		margin-top: 3vh;
		margin-bottom: 6vh;
	}

	.settings-tab-margin {
		margin-right: 0px;
	}
}