<div class="sp-div rounded h-full p-4">
    <h1 class="font-bold text-2xl"><i class="bi bi-translate"></i> {{'settings_tab_lang_title'|translate}}</h1>
    <p class="text-zinc-300">{{'settings_tab_lang_text'|translate}}</p>
    <div class="flex mt-2 mb-4">
        <div (click)="selectLanguage('en')" [ngClass]="{'selected': selectLanguageBool('en')}" class="transition mt-2 mr-2 w-14 h-14 rounded hover:brightness-50" style="content: url('../../../../assets/img/bandera_eeuu.png');"></div>
        <div (click)="selectLanguage('es')" [ngClass]="{'selected': selectLanguageBool('es')}" class="transition mt-2 mr-2 w-14 h-14 rounded hover:brightness-50" style="content: url('../../../../assets/img/bandera_espana.png');"></div>
        <div (click)="selectLanguage('eu')" [ngClass]="{'selected': selectLanguageBool('eu')}" class="transition mt-2 mr-2 w-14 h-14 rounded hover:brightness-50" style="content: url('../../../../assets/img/bandera_euskadi.png');"></div>
    </div>
    <button [ngClass]="{'': selected_lang !== user_lang, 'grayscale disabled opacity-50': selected_lang === user_lang}" (click)="saveLanguage()" type="button" class="mt-4 btn btn-warning"><i class="bi bi-floppy-fill"></i> {{'save_changes'|translate}}</button>
</div>