<br/>
<div class="max-w-xl mx-auto bg-stone-300 shadow-md rounded-xl overflow-hidden md:max-w-2xl items-center">
	<div class="md:flex">
		<div class="md:shrink-0">
			<img class="h-48 w-full object-cover md:h-full md:w-48" src="../../assets/img/transcendence_logo.png" alt="Modern building architecture">
		</div>
		<div class="p-8 w-full">
			<p class="text-center text-3xl font-semibold">Register
				<span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block">
					<span class="relative text-white">
					today
					</span>
				</span>!
			</p>
			<br/>
			<form #registerForm="ngForm" (ngSubmit)="registerAcc()">
				<div class="mb-3">
					<label for="usernameInput" class="form-label">Username</label>
					<input name="username" [(ngModel)]="user.username" type="text" class="form-control" id="usernameInput">
				</div>
				<div class="mb-3">
					<label for="passwordInput" class="form-label">Password</label>
					<input name="password" [(ngModel)]="user.password" type="password" class="form-control" id="passwordInput">
				</div>
				<button type="submit" class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					Register now
				</button>
			</form>
		</div>
	</div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
	{{ errorMessage }}
</div>