<div class="sp-div md:flex items-center p-2 max-w-xl md:max-w-4xl mx-auto h-96 rounded-xl">
	<div class="md:shrink-0 flex items-center">
		<i *ngIf="ver_bool" class="bi bi-check-circle-fill text-green-700 md:text-9xl"></i>
		<i *ngIf="!ver_bool" class="bi bi-x-circle-fill text-red-900 md:text-9xl"></i>
	</div>
	<div *ngIf="ver_bool" class="md:flex flex-col text-left p-8">
		<h1 class="text-6xl font-bold">{{'verify_verification'|translate}}</h1>
		<p class="mt-2 text-2xl">{{'verify_verification_success'|translate}}</p>
	</div>
	<div *ngIf="!ver_bool" class="md:flex flex-col text-left p-8">
		<h1 class="text-6xl font-bold">{{'verify_verification'|translate}}</h1>
		<p class="mt-2 text-2xl">{{'verify_verification_error'|translate}}</p>
	</div>
</div>