<div class="mt-2 text-white">
	<div class="mb-1 flex items-center">
		<h1 class="mr-4"> {{'online_name'|translate}}: </h1>
		<input class="shadow-none form-control" [ngModel]="settings.name" (change)="changeName($event)" type="text">
	</div>
	<!-- <div class="btn-group flex w-full my-4">
        <a href="#" (click)="changeToPublic()" [ngClass]="{'active': settings.publicMatch}" class="btn btn-primary flex-grow text-center">{{'online_public'|translate}}</a>
        <a href="#" (click)="changeToPrivate()" [ngClass]="{'active': !settings.publicMatch}" class="btn btn-primary flex-grow text-center">{{'online_private'|translate}}</a>
	</div> -->
	<app-match-generator-component [settings]="settings.matchSettings"></app-match-generator-component>
</div>