<div class="bg-cyan-950 text-white justify-center place-content-center p-2 rounded-md shadow-md" (keydown)="onKeyPress($event)">
	<div class="mt-4 ml-8 mr-8 mb-4">
		<div class="flex">
			<h1 class="text-xl">New custom game settings</h1>
			<button type="button" class="transition hover:text-red-500 ml-auto" data-bs-dismiss="alert" aria-label="Close" (click)="onBlur()"><i class="bi bi-x-lg"></i></button>
		</div>
		<div class="flex flex-1 w-full gap-3 size-15 mt-2">
			<div class="flex items-center">
				<i class="bi bi-person-gear text-3xl"></i>
				<button type="button" (click)="toggleMatchTournament()" class="btn rounded-lg ml-2 w-28">{{gameSettings.gameType}}</button>
			</div>
			<div class="flex items-center">
				<i class="bi bi-incognito text-3xl"></i>
				<button type="button" (click)="togglePublicPrivate()" class="btn rounded-lg ml-2 w-20">{{gameSettings.publicPrivate}}</button>
			</div>
		</div>
		<form class="mt-10">
			<div class="flex mb-3">
				<i class="bi bi-pencil-square text-3xl mr-2"></i>
				<input class="form-control border-none rounded-none pl-3 max-h-12 bg-cyan-800" type="text" autofocus
					placeholder="Game name">
			</div>
			<div class="flex mb-3">
				<i class="bi bi-hash text-3xl mr-2"></i>
				<input class="form-control border-none rounded-none pl-3 max-h-12 bg-cyan-800" type="text" autofocus
					placeholder="Tags (#bestgame)">
			</div>
			<button type="button" (click)="createMatchTournament()" class="btn rounded-lg ml-2 w-20 justify-content-end">CREATE</button>
		</form>
	</div>
</div>
