<div class="sp-div mx-auto shadow-md rounded-xl overflow-hidden max-w-full md:max-w-2xl p-4 sm:p-6 md:p-8 items-center col-12 col-md-6">
    <div class="p-4 sm:p-6 md:p-8">
		<p class="text-center text-3xl font-semibold">{{'register_title'|translate}}</p>
		<p class="text-center">{{'register_subtitle'|translate}}  <a routerLink="/login" class="text-amber-300">{{'register_subtitle_link'|translate}}</a></p>
		<br/>
		<form #registerForm="ngForm" (ngSubmit)="registerAcc()" ngNativeValidate class="mx-4">
			<div class="form-floating mb-3">
				<input type="username" name="username" [(ngModel)]="user.username" class="form-control shadow-none" id="usernameInput" placeholder="SpacialUser" required pattern="^.{6,20}$" #username="ngModel">
				<label for="username" class="form-label"><i class="bi bi-person-circle"></i> {{'username'|translate}}</label>
				<div id="usernameHelp" class="form-text"><i class="bi bi-info-circle-fill"></i> {{'register_username_tip'|translate}}</div>
			</div>
            <div class="form-floating mb-3">
                <input type="email" name="email" [(ngModel)]="user.email" class="form-control shadow-none" id="emailInput" placeholder="amazingmail@spacepong.me" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" #email="ngModel">
                <label for="emailInput" class="form-label"><i class="bi bi-at"></i> {{'email'|translate}}</label>
                <div id="emailHelp" class="form-text"><i class="bi bi-info-circle-fill"></i> {{'register_choose_email'|translate}}</div>
            </div>
			<div class="form-floating mb-3">
				<input type="password" name="password" [(ngModel)]="user.password" class="form-control shadow-none" id="passwordInput" placeholder="Password" required pattern=".{6,}" #password="ngModel">
				<label for="passwordInput" class="form-label"><i class="bi bi-incognito"></i> {{'password'|translate}}</label>
				<div id="passwordHelp" class="form-text"><i class="bi bi-info-circle-fill"></i> {{'register_password_tip'|translate}}</div>
			</div>
			<div class="form-check mb-4">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required (change)="togglePrivacy($event)">
				<label class="form-check-label" for="flexCheckDefault">
					Aceptas la <a (click)="privacyText = true" class="text-white underline underline-offset-2">Politica de Privacidad</a> de SpacePong
				</label>
			</div>
            <div class="flex flex-col sm:flex-row items-center">
                <button *ngIf="!formSent" [ngClass]="{'grayscale-0': !email.invalid && !password.invalid && !username.invalid && privacyAccepted,'grayscale disabled opacity-50': email.invalid || password.invalid || username.invalid || !privacyAccepted}" type="submit" class="btn btn-warning">
                    <p class="mx-6 text-xs font-medium uppercase text-black">{{'profile_register'|translate}}</p>
				</button>
                <button *ngIf="formSent" type="submit" class="btn btn-warning grayscale disabled opacity-50">
                    <div class="ml-2 spinner-border spinner-border-sm"></div>
                    <p class="mr-3 text-xs font-medium uppercase text-black">{{'login_loading'|translate}}</p>
                </button>
				<p class="mx-2">{{'register_finish_tip'|translate}} </p>
				<button type="button" (click)="register42Api()" class="mr-3 bg-42 rounded px-6 shadow-md flex justify-center items-center transition duration-250 easy-in-out hover:bg-42-selected hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					<img class="h-7 w-7 filter invert" src="../../../assets/img/42_Logo.svg.png">
					<div class="p-3">
						<div class="text-xs text-white font-medium uppercase">{{'42_account'|translate}}</div>
					</div>
				</button>
			</div>
		</form>
	</div>
	<div *ngIf="privacyText" class="bg-indigo-950 alert alert-dark alert-dismissible fade show flex flex-col justify-start items-start z-20 absolute inset-0 my-8 mx-auto" style="width: 60%;">
		<p class="text-2xl ml-2"><i class="bi bi-shield-lock-fill"></i> Política de Privacidad</p>
		<div class="scrollable-container bg-slate-800 rounded m-2 p-2.5 h-fit w-full overflow-y-auto box-border">
			<p class="mb-2">
				<b>SpacePong</b> se compromete a <b>proteger los datos de los usuarios</b>.
			</p>
			<p class="mb-2">
				Al registrarte en <b>SpacePong</b>, tus datos <b>serán encriptados</b> con un <b>avanzado sistema de encriptación</b> que mantendrá tus
				datos <b>protegidos</b> frente a atacantes externos.
			</p>
			<p class="mb-2">
				A la par con lo anteriormente mencionado, <b>SpacePong</b> se compromete a cumplir con las <b>Regulaciones de Protección de Datos Europea (GDPR en Inglés)</b>.
			</p>
			<ul>
				<li>
					<i class="bi bi-dot"></i> Podrás pedir el <b>borrado de tus datos</b> desde el panel de Ajustes de SpacePong.
				</li>
				<li>
					<i class="bi bi-dot"></i> Podrás pedir la <b>pseudoanonimización de tus datos</b> desde el panel de Ajustes de SpacePong.
				</li>
				<li>
					<i class="bi bi-dot"></i> En el caso de querer <b>pedir, borrar, editar o reclamar</b> tus datos, puedes mandar un correo a <a href="mailto:trascendence1804@gmail.com" class="link-light">trascendence1804&#64;gmail.com</a>
				</li>
			</ul>
		</div>
		<button (click)="closePrivacy()" type="button" class="btn-close shadow-none btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>

<div *ngIf="error || (email.invalid && email.touched) || (password.invalid && password.touched) || (username.invalid && username.touched)" class="pt-6 flex items-center justify-center" [@easeOut]>
	<div class="alert alert-error alert-dismissible fade show max-auto max-w-xl">
		<i class="bi bi-x-circle text-black"></i>
		<div>
			<h4 class="font-bold text-black">{{'error'|translate}}</h4>
            <p *ngIf="usernameUsed">{{'register_username_inuse'|translate}}</p>
            <p *ngIf="email.invalid && email.touched">{{'register_email_notvalid'|translate}}</p>
            <p *ngIf="username.invalid && username.touched">{{'register_username_notvalid'|translate}}</p>
            <p *ngIf="password.invalid && password.touched">{{'register_make_sure'|translate}}</p>
            <p *ngIf="internalError">{{'register_unexpected'|translate}}</p>
		</div>
        <button *ngIf="error" (click)="error = false; usernameUsed = false; internalError = false;" type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>

<div *ngIf="success" class="pt-6 flex items-center justify-center" [@easeOut]>
	<div class="alert alert-success alert-dismissible max-auto max-w-xl">
		<i class="bi bi-check-circle"></i>
		<div>
			<h4 class="font-bold">{{'success'|translate}}</h4>

			{{'register_redirect'|translate}}
		</div>
	</div>
</div>
