<div class="sp-div p-2 max-w-xl md:max-w-4xl mx-auto h-96 rounded-xl">
	<div class="flex justify-center items-center w-full mt-2">
		<i class="bi bi-exclamation-triangle-fill text-amber-600 md:text-9xl" style="margin: 0 auto;"></i>
	</div>
	<div class="w-full text-center mt-6">
		<h1 class="text-3xl font-bold">{{'postregister_title'|translate}}</h1>
		<p class="mt-2 text-2xl">{{'postregister_subtitle'|translate}}</p>
		<button (click)="to_login()" class="btn btn-warning mt-4"><i class="bi bi-rocket-takeoff-fill"></i> {{'profile_login'|translate}}</button>
	</div>
</div>
