<br/>
<div class="max-w-xl mx-auto bg-stone-300 shadow-md rounded-xl overflow-hidden md:max-w-2xl items-center">
	<div class="md:flex">
		<div class="md:shrink-0">
			<img class="h-48 w-full object-cover md:h-full md:w-48" src="../../assets/img/transcendence_logo.png" alt="Modern building architecture">
		</div>
		<div class="p-8 w-full">
			<p class="text-center text-3xl font-semibold">Welcome back!</p>
			<br/>
			<form #registerForm="ngForm" (ngSubmit)="loginAcc()">
				<div class="mb-3">
					<label for="usernameInput" class="form-label">Username</label>
					<input name="username" [(ngModel)]="user.username" type="text" class="form-control" id="usernameInput">
				</div>
				<div class="mb-3">
					<label for="passwordInput" class="form-label">Password</label>
					<input name="password" [(ngModel)]="user.password" type="password" class="form-control" id="passwordInput">
				</div>
				<div class="flex">
					<button type="submit"class="mr-3 bg-yellow-400 rounded px-6 rounded-xl shadow-md flex justify-center items-center transition duration-250 easy-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						<div>
							<div class="text-xs font-medium uppercase text-black">Login</div>
						</div>
					</button>
					<button type="button" class="mr-3 bg-42 rounded px-6 rounded-xl shadow-md flex justify-center items-center transition duration-250 easy-in-out hover:bg-42-selected hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						<div class="p-2">
							<img class="h-7 w-7 filter invert" src="../../../assets/img/42_Logo.svg.png">
						</div>
						<div>
							<div class="text-xs text-white font-medium uppercase text-black">Login with 42</div>
						</div>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div *ngIf="errorMessage" class="pt-6 flex items-center justify-center">
	<div class="alert alert-danger max-auto max-w-xl">
		<i class="bi bi-x-circle"></i> {{ errorMessage }}
	</div>
</div>

<div *ngIf="successMessage" class="pt-6 flex items-center justify-center">
	<div class="alert alert-success max-auto max-w-xl">
		<i class="bi bi-check-circle"></i> {{ successMessage }}
	</div>
</div>