<footer class="sp-div footer h-10">
	<div class="flex items-center justify-between w-full h-full mx-auto px-4">
        <div class="flex items-center space-x-2">
            <img src="../../assets/img/spacepong_logo.svg" class="h-10 grayscale" loading="Transcendence Logo">
            <span class="underline decoration-white text-base">
			    SpacePong 2024
		    </span>
        </div>
        <div>
            {{'footer_with'|translate}}<i class="bi bi-heart-fill text-red-500"></i> by
            <a class="enlace-persona" target="_blank" href="https://www.linkedin.com/in/unaillorente/">Unai Llorente</a>,
            <a class="enlace-persona" target="_blank" href="https://www.linkedin.com/in/eneko-camara-palma-9a5352235/">Eneko Camara</a>,
            <a class="enlace-persona" target="_blank" href="https://www.linkedin.com/in/unai-alcibar/">Unai Alcibar</a>,
            <a class="enlace-persona" target="_blank" href="https://www.linkedin.com/in/xabier-matute/">Xabier Matute</a> and
            <a class="enlace-persona" target="_blank" href="https://www.linkedin.com/in/jose-gainza/">Jose Gainza</a>
        </div>
	</div>
</footer>
