<div class="mx-auto px-4">
	<div *ngIf="state === LobbyMatchState.Ok">
		<h1 class="text-white text-4xl mb-8 text-center">{{'lobby_match_searching'|translate}}</h1>
		<div class="flex place-content-center">
			<div class="flex flex-col items-center justify-center">
				<div class="flex min-w-96 max-h-20 mr-12 m-4">
					<img src="../../../assets/img/transcendence_logo.png" class="rounded-full w-28 h-28 bg-white ml-4">
					<h1 class="text-secondary text-white text-4xl flex-grow text-center">{{ lobby.host.username }}</h1>
				</div>
				<div *ngFor="let player of lobby.players; let i = index"
					class="flex min-w-96 max-h-20 mr-12 m-4">
					<div *ngIf="i < lobby.onlineSettings.matchSettings.teamSize - 1">
						<img src="../../../assets/img/transcendence_logo.png"
							class="rounded-full w-28 h-28 bg-white ml-4">
						<div *ngIf="player === undefined" class="spinner-border text-secondary" role="status">
							<span class="visually-hidden">{{'lobby_match_searching'|translate}}</span>
						</div>
						<div *ngIf="player !== undefined" class="text-secondary" role="status">
							<h1 class="text-white text-4xl flex-grow text-center">{{ player.username}} {{i}}</h1>
						</div>
					</div>
				</div>
			</div>
			<img src="../../../assets/img/lobby-doublesword.svg" width="170" height="170">
			<div class="flex flex-col items-center justify-center">
				<div *ngFor="let player of lobby.players; let i = index" class="flex items-center min-w-96 max-h-20 mr-12 m-4">
					<div *ngIf="i >= lobby.onlineSettings.matchSettings.teamSize - 1">
						<img src="../../../assets/img/transcendence_logo.png" class="rounded-full w-28 h-28 bg-white ml-4">
						<div *ngIf="player === undefined" class="spinner-border text-secondary" role="status">
							<span class="visually-hidden">{{'lobby_match_searching'|translate}}</span>
						</div>
						<div *ngIf="player !== undefined" class="text-secondary" role="status">
							<h1 class="text-white text-4xl flex-grow text-center">{{ player.username }}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="state === LobbyMatchState.Error" class="text-white">
		{{'lobby_match_state_error'|translate}}
	</div>
</div>