<div class="sp-div alert alert-dark alert-dismissible flex flex-col justify-start items-start" (keydown)="onKeyPress($event)">
	<h1 class="text-xl"><i class="bi bi-person-raised-hand"></i> {{'searchbar_who'|translate}}</h1>
	<button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close" (click)="onBlur()"></button>
	<form autofocus class="w-full" (keydown)="onKeyPress($event)" (submit)="onFormSubmit()">
		<div class="flex">
			<input #inputField autofocus class="form-control shadow-none" [formControl]="myControl" type="text" placeholder="Write a username here...">
			<button type="button" (click)="onFormSubmit()" class="btn btn-success rounded-full ml-2"><i class="bi bi-plus-lg"></i></button>
		</div>
		<ng-container *ngFor="let option of filteredOptions$ | async">
			<ng-container *ngIf="option != myControl.value">
				<ng-template [ngIf]="true">
					<button id="filter-btn" (click)="autocomplete(option)" class="btn max-w-full md:max-w-80 rounded-none max-h-10 mt-2 md:mr-2 md:mb-0">
						<div class="flex justify-content-between text-white">
							{{option}} <i class="bi bi-plus-circle-fill ml-2 inset-y-0 right-0"></i>
						</div>
					</button>
				</ng-template>
			</ng-container>
		</ng-container>
	</form>
	<div *ngIf="errorMessage" class="alert alert-warning alert-dismissible fade show" style="margin-bottom: -10px;" role="alert" [@easeOut]>
		<i class="bi bi-exclamation-triangle-fill"></i> {{ errorMessage }}
		<button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>

