<div class="h-50real">
	<div *ngIf="debug">
        <p class="text-gray-500">{{'home_debug'|translate}}</p>
		<p class="text-white">{{'home_websocket_chat_state'|translate}} {{chatService.isConnected()}}</p>
		<p class="text-white">{{'home_websocket_matchmaking_state'|translate}} {{matchmakingService.isConnected()}}</p>
		<p class="text-white">{{'home_matchmaking_state'|translate}} {{MatchmakingState[state.matchmakingState]}}</p>
		<p class="text-white">{{'home_match_state'|translate}} {{matchmakingService.getCurrentMatchState()}}</p>
		<p class="text-white">{{'home_current'|translate}}{{state.homeState}}</p>
	</div>
	<div class="homeMain">
		<button (click)="backgroundClicked()" class="absolute -z-1 h-full backgroundButton w-11/12"></button>
		<app-chat *ngIf="state.homeRenderState.chat$ | async" class="homeLeft"></app-chat>
		<div class="homeRight flex-col justify-center items-center h-auto w-full">
			<button *ngIf="(state.homeRenderState.local$ | async) && (state.homeRenderState.render$)" (click)="changeState(HomeState.MatchTournament)"
				class="card mb-16">
				<h2 class="uppercase">{{'home_play'|translate}}</h2>
			</button>

            <!-- En el caso de que el usuario no haya iniciado sesión o no esté registrado -->
            <button *ngIf="!(state.homeRenderState.multiplayer$ | async) && (state.homeRenderState.local$ | async) && (state.homeRenderState.render$)"
                    routerLink="/login" class="card mb-16">
                <h2 class="uppercase">{{'home_play_online'|translate}}</h2>
            </button>

            <!-- En el caso de que el usuario haya iniciado sesión -->
			<button *ngIf="(state.homeRenderState.multiplayer$ | async) && (state.homeRenderState.render$)"
				(click)="changeState(HomeState.SearchingOnlineGame)" class="card mb-16">
				<h2>{{'home_multiplayer'|translate}}</h2>
			</button>
			<button *ngIf="(state.homeRenderState.community$ | async) && (state.homeRenderState.render$)" (click)="changeState(HomeState.Community)"
				class="card mb-16">
				<h2>{{'home_community'|translate}}</h2>
			</button>
			<div *ngIf="(state.homeRenderState.match_tournament$ | async) && (state.homeRenderState.render$)" class="flex flex-col w-full justify-center items-center">
				<button (click)="changeState(HomeState.MatchGenerator)" class="card mb-16">
					<h2>{{'home_match'|translate}}</h2>
				</button>
				<button (click)="changeState(HomeState.TournamentGenerator)" class="card mb-16">
					<h2>{{'home_tournament'|translate}}</h2>
				</button>
			</div>
			<div *ngIf="(state.homeRenderState.tournamentGenerator$ | async) && (state.homeRenderState.render$)" class="sp-div rounded-xl p-4"  style="width: 30rem;">
                <div class="flex items-center mb-4">
                    <h1 class="text-2xl font-bold">{{'home_play_tournament_setting'|translate}}</h1>
                </div>
				<app-tournament-generator-component [settings]="getTournament()"></app-tournament-generator-component>
                <div class="d-flex justify-content-center">
                    <button (click)="createTournament()" class="mt-4 btn btn-warning">
                        <i class="bi bi-trophy-fill"></i> {{'home_start'|translate}}
                    </button>
                </div>
			</div>
			<div *ngIf="(state.homeRenderState.matchGenerator$ | async) && (state.homeRenderState.render$)" class="z-0 sp-div rounded-xl p-4" style="width: 30rem;">
                <div class="flex items-center mb-4">
                    <h1 class="text-2xl font-bold">{{'home_play_match_setting'|translate}}</h1>
                </div>
				<app-match-generator-component [settings]="getMatch()"></app-match-generator-component>
                <div class="d-flex justify-content-center">
                    <button (click)="createMatch()" class="mt-4 btn btn-warning">
                        <i class="bi bi-flag-fill"></i> {{'home_start'|translate}}
                    </button>
                </div>
			</div>
			<div *ngIf="(state.homeRenderState.onlineMatchGenerator$ | async) && (state.homeRenderState.render$)" class="sp-div rounded p-4 w-96" style="width: 30rem;">
				<app-online-match-generator-component [settings]="getOnlineMatch()"></app-online-match-generator-component>
				<button (click)="createOnlineMatch()" class="btn text-white">CREATE</button>
			</div>
			<div *ngIf="(state.homeRenderState.tournamentTree$ | async) && (state.homeRenderState.render$)" class="sp-div rounded p-4 w-96" style="width: 30rem;">
				<app-tournament-tree-component [manager]="tournamentManager!"></app-tournament-tree-component>
			</div>
			<app-lobby-match class="z-1 w-full" *ngIf="(state.homeRenderState.joiningOnlineMatch$ | async) && (state.homeRenderState.render$)"></app-lobby-match>
			<app-lobby-search class="z-1 w-full" *ngIf="(state.homeRenderState.onlineMatchSearch$ | async) && (state.homeRenderState.render$)"></app-lobby-search>
		</div>
	</div>
</div>