<div class="bg-transparent">
	<div *ngIf="debug">
		<p class="text-white">chat websocket state: {{chatService.isConnected()}}</p>
		<p class="text-white">matchmaking websocket state: {{matchmakingService.isConnected()}}</p>
		<p class="text-white">matchmaking state : {{matchmakingService.state.getCurrentValue()}}</p>
		<p class="text-white">current online match state: {{matchmakingService.getCurrentMatchState()}}</p>
		<p class="text-gray-500">to take this messages away set debug in home.component to false(unai ponlo abajo que este mensaje desaparece)</p>
	</div>
	<div class="flex justify-center items-center h-auto">
		<!-- <div class="w-1/2 min-w-1/2 chat p-6"> -->
		<div class="w-1/2 p-6">
			<app-chat [@fadeInOut]></app-chat>
		</div>
		<div *ngIf="matchmakingService.state.getCurrentValue() ===  MatchMakingState.Standby" class="w-1/2">
			<div *ngIf="!isAnimating && state === HomeState.Home" class="menu">
				<button (click)="changeState(HomeState.Local)" class="card mb-16" [@fadeInOut]>
					<h2>LOCAL</h2>
				</button>
				<button (click)="changeState(HomeState.Multiplayer)" class="card mb-16" [@fadeInOut]>
					<h2>MULTIPLAYER</h2>
				</button>
				<button (click)="changeState(HomeState.Multiplayer)" class="card mb-16" [@fadeInOut]>
					<h2>COMMUNITY</h2>
				</button>
			</div>
			<div *ngIf="state === HomeState.Multiplayer" class="w-1/2 multiplayer" [@fadeInOut]="state" (@fadeInOut.done)="isAnimating = false">
				<app-lobby-search></app-lobby-search>
			</div>
			<div *ngIf="state === HomeState.Local" class="w-1/2 menu" [@fadeInOut]>
				<!--app-tournament-match-menu [multiplayer]="false"></app-tournament-match-menu -->
				<app-tournament-match-menu [multiplayer]="false" (new_match_tournament)="new_match_tournament($event)" (escapeKeyPressed)="scapeKeyPressed()"></app-tournament-match-menu>
			</div>
		</div>
		<div *ngIf="matchmakingService.state.getCurrentValue() === MatchMakingState.OnGame">
			<div *ngIf="matchmakingService.getCurrentMatchState() === OnlineMatchState.WaitingForPlayers">
				<p class="text-white">should display the loading</p>
				<app-lobby-match></app-lobby-match>	
			</div>
		</div>
	</div>
</div>