<div id="sp-div" class="rounded h-full p-4">
    <!--
    CAMBIAR el CORREO
    -->
	<h1 class="font-bold text-2xl"><i class="bi bi-at"></i> Correo electrónico</h1>
	<p class="text-zinc-300">Actualiza el correo electrónico asociado a tu cuenta</p>
	<div class="flex align-items-center max-w-80 mb-4">
		<input [(ngModel)]="email" type="text" name="email" class="form-control shadow-none" id="floatingInput" required>
		<button (click)="saveMailSecurity()" [ngClass]="{'grayscale-0': currentEmail !== email,'grayscale disabled opacity-50': currentEmail === email}" class="btn btn-warning btn-sm ml-4"><i class="bi bi-floppy-fill"></i></button>
	</div>

    <!-- Error -->
    <div *ngIf="alreadyUsed" class="alert alert-error alert-dismissible fade show mt-2 max-w-96" role="alert" [@easeOut]>
        <i class="bi bi-x-circle-fill mr-2"></i>¡Este correo ya está en uso!
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- OK -->
    <div *ngIf="mailChanged" class="alert alert-success alert-dismissible fade show mt-2 max-w-96" role="alert" [@easeOut]>
        <i class="bi bi-check-circle-fill mr-2"></i>¡Correo cambiado con éxito!
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!--
    CAMBIAR la CONTRASEÑA
    -->
	<h1 class="font-bold text-2xl"><i class="bi bi-asterisk"></i> Contraseña</h1>
	<p class="text-zinc-300">Cambia la contraseña que usas para iniciar sesión</p>

    <form class="needs-validation" novalidate (ngSubmit)="savePassSecurity()">
        <div class="form-text text-zinc-300">Contraseña actual</div>
        <input [(ngModel)]="oldPassword" [class.is-invalid]="wrongPassword" [class.is-valid]="!wrongPassword && formSent" type="password" name="oldPassword" class="form-control shadow-none" style="max-width: 16.5rem" id="floatingInput" required>

        <div class="form-text text-zinc-300">Nueva contraseña</div>
        <input [(ngModel)]="newPassword" [class.is-invalid]="!passwordsMatch" [class.is-valid]="passwordsMatch && formSent" type="password" name="newPassword1" class="form-control shadow-none" style="max-width: 16.5rem" id="floatingInput" required>

        <div class="form-text text-zinc-300">Repite la nueva contraseña</div>
        <div class="flex align-items-center max-w-80 mb-4">
            <input [(ngModel)]="confirmNewPassword" [class.is-invalid]="!passwordsMatch" [class.is-valid]="passwordsMatch && formSent" type="password" name="newPassword2" class="form-control shadow-none" id="floatingInput" required>
            <button *ngIf="!formSent" (click)="savePassSecurity()" class="btn btn-warning btn-sm ml-4"><i class="bi bi-floppy-fill"></i></button>
            <button *ngIf="formSent" (click)="savePassSecurity()" class="btn btn-warning btn-sm ml-4 grayscale disabled opacity-50"><div class="spinner-border spinner-border-sm"></div></button>
        </div>
    </form>

    <!-- Errores -->
    <div *ngIf="error" class="alert alert-error alert-dismissible fade show mt-2 max-w-96" role="alert" [@easeOut]>
        <p *ngIf="wrongPassword"><i class="bi bi-x-circle-fill mr-2"></i>La contraseña actual no es correcta.</p>
        <p *ngIf="!passwordsMatch"><i class="bi bi-x-circle-fill mr-2"></i>La nueva contraseña no coincide!</p>
        <p *ngIf="passwordsMatchEmpty"><i class="bi bi-x-circle-fill mr-2"></i>La nueva contraseña no puede estar vacía!</p>
        <p *ngIf="passwordsMatchDuplicate"><i class="bi bi-x-circle-fill mr-2"></i>La nueva contraseña no puede ser igual que la actual!</p>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <!-- OK -->
    <div *ngIf="success" class="alert alert-success alert-dismissible fade show mt-2 max-w-96" role="alert" [@easeOut]>
        <i class="bi bi-check-circle-fill mr-2"></i>¡Contraseña cambiada con éxito!
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!--
    AUTENTIFICACIÓN en DOS PASOS
    -->
	<h1 class="font-bold text-2xl"><i class="bi bi-fingerprint"></i> {{'settings_tab_content_2FA'|translate}}</h1>
	<p class="text-zinc-300">{{'settings_more_2FA'|translate}}</p>
	<div *ngIf="buttonClicked1 == false">
	<button (click)="onButtonClick1True()" class="btn btn-warning btn-sm mt-2"><i class="bi bi-lock-fill"></i> {{'settings_buttom_activate_2FA'|translate}}</button>
	</div>
	<div *ngIf="buttonClicked1 == true && buttonClicked2 == false" id="sp-div" class="pl-4 mr-4 mt-2 w-85 rounded-md md:mb-0 h-fit divide-x divide-slate-500">
		<h1 class="text-300 mt-2"> {{'settings_sure_2FA'|translate}}</h1>
		<button (click)="send_mail()" class="btn btn-warning btn-sm mt-3 mb-3 mr-3 ml-80"><i class="bi bi-lock-fill"></i> {{'settings_yes_2FA'|translate}}</button>
		<button (click)="onButtonClick1False()" class="btn btn-warning btn-sm mt-3 mb-3 mr-3"><i class="bi bi-lock-fill"></i> {{'settings_no_2FA'|translate}}</button>
	</div>
	<div *ngIf="buttonClicked1 == true && buttonClicked2 == true" id="sp-div" class="pl-4 mr-4 mt-2 w-85 rounded-md md:mb-0 h-fit divide-x divide-slate-500">
		<div class="text-300 mt-2"> {{'settings_enter_2FA'|translate}}</div>
		<div class="form-text mt-2"> {{'settings_enter2_2FA'|translate}}</div>
        <div class="code-input flex">
			<input [(ngModel)]="entered_token" type="text" name="entered_token" maxlength="6" pattern="\d" class="form-control shadow-none btn-sm mb-3 mr-3" style="max-width: 7rem" id="floatingInput" required>
        	<button (click)="compareTwoFAToken()" class="btn btn-warning btn-sm ml-3>"><i class="bi bi-floppy-fill"></i></button>
			<button (click)="onButtonClick1False()" class="btn btn-warning btn-sm ml-3"><i class="bi bi-lock-fill"></i> {{'settings_cancel_2FA'|translate}}</button>
    	</div>
	</div>
</div>
