.chat{
	background-color: rgba(47, 98, 179, 0.088);
    backdrop-filter: blur(3px) brightness(0.7) saturate(0.9);
    /*    border: 3px solid transparent;*/
    /*border-top-right-radius: 20px;*/
    height: 100%;
    padding-top: 0;
}
.chat-container {
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    border: 1px solid #ccc;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
}

#message-box {
    /*background-color: rgba(143, 183, 189, 0.278);*/
}

.message {
    margin-bottom: 10px;
}

/*
.input-box {
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #fff;
}*/

.input-box input {
    flex: 1; /* Input field takes remaining space */
    margin-right: 10px;
}

.input-box button {
    flex: none; /* Button does not grow */
}
.border-transparent {
    border-color: rgba(255, 255, 255, 0.4); /* Red border color with 50% transparency */
}

.custom-textarea:focus {
    outline: none;
}

.custom-textarea {
    border: none; /* Elimina el borde del textarea */
}


.custom-textarea::placeholder {
    color: #6c757d; /* Cambia el color del placeholder según tus preferencias */
}

/* Chat container */
#chat-bg {
    backdrop-filter: blur(2px);
}

#bar-bg {
    backdrop-filter: brightness(0.8);
    /*background-color: #191a3d7a;*/
	/*background-color: #0065d80a;*/
}

#chat-btn {
    background-color: rgba(40, 58, 57, 0.29);

    border-color: #03030330;
}

#chat-btn:hover {
    color: #6a7f84;;
}

#chat-btn-active {
    background-color: rgba(40, 58, 57, 0.613);

	color: #cfe1e6;
	border: 1px solid #78b2c3;
	font-weight: bold;
}

::placeholder {
    color: rgb(181, 196, 197);
    opacity: 1; /* Firefox */
  }

.form-control {
    border: 1px solid transparent;
    outline: none;
}

.form-control:focus {
    border-bottom-color: white;
    outline: none;
}

.form-control:valid {
	background-color: #191a3d00!important;
}