<!-- <div *ngIf="isConnected()"> -->
<app-search-bar [fields]="getUsers()" (selectedField)="fieldSelected($event)" (escapeKeyPressed)="scapekey()" class="z-20 absolute inset-0 flex items-center justify-center " *ngIf="showSearchBar">
</app-search-bar>
<div [class]="showSearchBar ? 'blur-sm' : ''" class="flex items-center justify-center">
	<div
		id="chat-bg" class="bg-card-bg-color flex w-full h-50real mx-auto text-white place-content-center rounded-xl shadow-md subpixel-antialiased">
		<div class="w-64 h-50real rounded-l-lg flex flex-col" id="bar-bg">
			<div class="text-2xl font-bold text-center bg-cyan-900 rounded-tl-lg" id="title-bg">
				<div class="m-3">
					<button (click)="togleSearchBar()" class="btn w-full text-2xl text-center text-white rounded-none" style="margin-top: auto;"><i class="bi bi-plus-circle-fill"></i> New Chat</button>
				</div>
			</div>
			<div class="flex flex-col flex-1">
				<div *ngFor="let userChat of getKeys()">
					<button *ngIf="userChat == current_chat_name" (click)="changeChannel(userChat)"
						class="btn w-full rounded-none bg-yellow-700 text-2xl hover:bg-yellow-600 hover:text-slate-950 text-start">{{
						userChat }}</button>
					<button *ngIf="userChat != current_chat_name" (click)="changeChannel(userChat)"
						class="btn w-full text-slate-400 rounded-none text-2xl text-start">{{ userChat }}</button>
				</div>
			</div>
		</div>
		<div class="flex-1 h-full flex flex-col">
			<div class="overflow-y-scroll">
				<div class="flex-1 w-1/2 items-start gap-2.5 p-2">
					<div class="items-start gap-5">
						<div *ngFor="let message of getChatMessages(current_chat_name)" class="mb-3 rounded" id="message-box">
							<div class="flex items-center font-bold">
								<div class="rounded-full w-6 h-6 m-2 bg-black flex-shrink-0"></div>
								<div class="flex-1">{{ message.sender}}</div>
								<div class="flex-2 m-2">{{ message.date}}</div>
							</div>
							<div class="ml-2">{{ message.message }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-6 flex mt-auto rounded-xl border-1 border-transparent items-center">
				<textarea [(ngModel)]="newMessage" placeholder="Type a message..."
					(keydown.shift.enter)="handleShiftEnter($event)" (keydown.enter)="sendMessage()"
					class="shadow-none custom-textarea form-control w-full h-12 max-h-96 border-transparent outline-none bg-transparent px-3 py-2.5"
					style="resize: none;overflow-y: visible; color: white;"></textarea>
				<button (click)="sendMessage()" class="btn btn-success max-h-10 flex items-center rounded-xl mr-1"><i
						class="bi bi-send-fill mr-1"></i> Send</button>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->