<app-match-generator-component [settings]="settings.matchSettings"></app-match-generator-component>

<div class="mt-2 text-white h-64">
    <h1 class="my-1"><i class="bi bi-joystick"></i> {{'tournament_gen_numplayers'|translate}}</h1>
    <div class="flex space-x-2">
        <button (click)="onNumberOfPlayersChange(4)"
            [ngClass]="{'bg-blue-500 text-white': settings.numberOfPlayers === 4, 'bg-gray-200 text-gray-700': settings.numberOfPlayers !== 4}"
            class="py-2 px-4 rounded shadow-none focus:outline-none"> 4
        </button>
        <button (click)="onNumberOfPlayersChange(8)"
            [ngClass]="{'bg-blue-500 text-white': settings.numberOfPlayers === 8, 'bg-gray-200 text-gray-700': settings.numberOfPlayers !== 8}"
            class="py-2 px-4 rounded shadow-none focus:outline-none"> 8
        </button>
        <button (click)="onNumberOfPlayersChange(16)"
            [ngClass]="{'bg-blue-500 text-white': settings.numberOfPlayers === 16, 'bg-gray-200 text-gray-700': settings.numberOfPlayers !== 16}"
            class="py-2 px-4 rounded shadow-none focus:outline-none"> 16
        </button>
    </div>
    <div class="nameList mt-3">
        <div *ngFor="let team of settings.teamNames; let i = index; trackBy: trackByFn" class="flex items-center mb-2  overflow-y-auto">
            <input [(ngModel)]="settings.teamNames[i]" type="text" name="settings.teamNames[i]" class="form-control shadow-none btn-sm mb-3 mr-3" id="floatingInput" required>
        </div>
    </div>
</div>
