<h1 class="text-white">this is where you set tournament settings</h1>
<app-match-generator-component [settings]="settings.matchSettings"></app-match-generator-component>
<h1 class="text-white">number of players</h1>
<input [value]="settings.numberOfPlayers" (input)="onNumberOfPlayersChange($event)" type="number" inputmode="none">
<div class="nameList">
    <div *ngFor="let team of settings.teamNames; let i = index">
        <input [(ngModel)]="settings.teamNames[i]" type="text">
    </div>
</div>