<div id="sp-div" class="max-w-xl mx-auto shadow-md rounded-xl overflow-hidden md:max-w-2xl items-center">
	<div class="p-8 w-full">
		<p class="text-center text-3xl font-semibold">Glad to see you again!</p>
		<p class="text-center">New to SpacePong?  <a routerLink="/register" class="text-amber-300">Register here</a></p>
		<br/>
		<form #registerForm="ngForm" (ngSubmit)="loginAcc()" class="ml-12 mr-12">
			<div class="form-floating mb-3">
				<input type="text" name="username" [(ngModel)]="user.username" class="form-control shadow-none" id="floatingInput" placeholder="SpacialUser">
				<label for="floatingInput"><i class="bi bi-person-circle"></i> Username</label>
			</div>
			<div class="form-floating mb-3 bg-transparent">
				<input name="password" [(ngModel)]="user.password" type="password" class="form-control shadow-none" id="passwordInput" placeholder="Password">
				<label for="passwordInput" class="form-label"><i class="bi bi-incognito"></i> Password</label>
			</div>
			<div class="flex items-center">
				<button type="submit"class="mr-3 bg-yellow-400 rounded px-6 rounded-xl shadow-md flex justify-center items-center transition duration-250 easy-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					<div class="p-3">
						<div class="text-xs font-medium uppercase text-black">Login</div>
					</div>
				</button>
				<p class="mr-2">or login using </p>
				<button type="button" (click)="login42Api()" class="mr-3 bg-42 rounded px-6 rounded-xl shadow-md flex justify-center items-center transition duration-250 easy-in-out hover:bg-42-selected hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					<img class="h-7 w-7 filter invert" src="../../../assets/img/42_Logo.svg.png">
					<div class="p-3">
						<div class="text-xs text-white font-medium uppercase text-black">42 Account</div>
					</div>
				</button>
			</div>
		</form>
	</div>
</div>

<div *ngIf="errorMessage" class="pt-6 flex items-center justify-center" [@fadeInOut]>
	<div class="alert max-auto max-w-xl" style="background-color: #db4d4d;">
		<i class="bi bi-x-circle text-black"></i>
		<div>
			<h4 class="font-bold text-black">Oops!</h4>
			<p class="text-black">{{ errorMessage }}</p>
		</div>
	</div>
</div>
