<div class="sp-div mx-auto shadow-md rounded-xl overflow-hidden max-w-full md:max-w-2xl p-4 sm:p-6 md:p-8 items-center col-12 col-md-6">
	<div class="p-4 sm:p-6 md:p-8">
		<p class="text-center text-3xl font-semibold">{{'login_title'|translate}}</p>
		<p class="text-center">{{'login_subtitle'|translate}}  <a routerLink="/register" class="text-amber-300">{{'login_subtitle_link'|translate}}</a></p>
		<br/>
		<form #registerForm="ngForm" (ngSubmit)="loginAcc()" ngNativeValidate class="mx-4">
			<div class="form-floating mb-3">
				<input type="text" name="username" [(ngModel)]="user.username" class="form-control shadow-none" id="floatingInput" placeholder="SpacialUser" required>
				<label for="floatingInput"><i class="bi bi-person-circle"></i> {{'username'|translate}}</label>
			</div>
			<div class="form-floating mb-3 bg-transparent">
				<input name="password" [(ngModel)]="user.password" type="password" class="form-control shadow-none" id="passwordInput" placeholder="Password" required>
				<label for="passwordInput" class="form-label"><i class="bi bi-incognito"></i> {{'password'|translate}}</label>
			</div>
			<div class="flex flex-col sm:flex-row items-center">
                <button *ngIf="!formSent" type="submit" class="btn btn-warning">
                    <p class="mx-6 text-xs font-medium uppercase text-black">{{'profile_login'|translate}}</p>
                </button>
                <button *ngIf="formSent" type="submit" class="btn btn-warning grayscale disabled opacity-50">
                    <div class="ml-2 spinner-border spinner-border-sm"></div>
                    <p class="mr-3 text-xs font-medium uppercase text-black">{{'login_loading'|translate}}</p>
                </button>
				<p class="mx-2">{{'login_finish_tip'|translate}} </p>
				<button type="button" (click)="login42Api()" class="mr-3 bg-42 rounded px-6 rounded-xl shadow-md flex justify-center items-center transition duration-250 easy-in-out hover:bg-42-selected hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					<img class="h-7 w-7 filter invert" src="../../../assets/img/42_Logo.svg.png">
					<div class="p-3">
						<div class="text-xs text-white font-medium uppercase text-black">{{'42_account'|translate}}</div>
					</div>
				</button>
			</div>
		</form>
	</div>
</div>

<div *ngIf="error" class="pt-6 flex items-center justify-center" [@easeOut]>
    <div class="alert alert-error alert-dismissible fade show max-auto max-w-xl">
        <i class="bi bi-x-circle text-black"></i>
        <div>
            <h4 class="font-bold text-black">{{'error'|translate}}</h4>
            <p *ngIf="userDoesntExist">{{'login_user_unnexistent'|translate}}</p>
            <p *ngIf="userInactive">{{'login_account_notactivated'|translate}}</p>
            <p *ngIf="userWrongCredentials || invalidForm">{{'login_incorrect'|translate}}</p>
        </div>
        <button (click)="error = false; userDoesntExist = false; userInactive = false; userWrongCredentials = false;" type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
