<nav
	class="relative flex w-full flex-wrap items-center justify-between py-2 text-neutral-500 shadow-md hover:text-neutral-700 focus:text-neutral-700 lg:py-4 sp-div">
	<div class="flex w-full items-center justify-between">
		<div>
			<a class="mx-3 my-2 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
				routerLink="/">
				<img src="../../assets/img/spacepong-blanco.svg" class="w-36 h-8" loading="SpacePong Logo">
			</a>
		</div>
		<div class="flex items-center">
			<div *ngIf="!(authService.userInfo$ | async)">
				<a routerLink="/login">
					<button type="button"
						class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						{{'profile_login'|translate}}
					</button></a>
				<a routerLink="/register">
					<button type="button"
						class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						{{'profile_register'|translate}}
					</button></a>
			</div>
			<div *ngIf="authService.userInfo$ | async">
				<div *ngIf="loading; else userProfile">
					<div class="spinner-border text-warning" role="status"></div>
				</div>
				<ng-template #userProfile>
					<a routerLink="/profile/{{authService.userInfo!.info.id}}">
						<button type="button"
							class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
							{{'settings_tab_title_pro'|translate}}
						</button>
					</a>
				</ng-template>
				<button (click)="logout()"
					class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					{{'profile_logout'|translate}}
				</button>
			</div>
		</div>
	</div>
</nav>