<nav
	class="relative flex w-full flex-wrap items-center justify-between py-2 text-neutral-500 shadow-md hover:text-neutral-700 focus:text-neutral-700 lg:py-4">
	<div class="flex w-full items-center justify-between">
		<div>
			<a class="mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
				routerLink="/">
				<img src="../../assets/img/transcendence_logo.png" class="h-12" loading="Transcendence Logo">
				<p class="font-semibold text-2xl">Transcendence</p>
			</a>
		</div>
		<a routerLink="/play">
			<button type="button"
				class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
				Play (test button)
			</button></a>
		<div class="flex items-center">
			<a routerLink="/test">
					<button type="button"
						class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						Test	
					</button></a>
			<div *ngIf="!loggedIn">
				<a routerLink="/login">
					<button type="button"
						class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						Login
					</button></a>
				<a routerLink="/register">
					<button type="button"
						class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
						Register
					</button></a>
			</div>
			<div *ngIf="loggedIn">
				<div *ngIf="loading; else userProfile">
					<div class="spinner-border text-warning" role="status"></div>
				</div>
				<ng-template #userProfile>
					<a routerLink="/profile/{{userId}}">
						<button type="button"
							class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
							Perfil
						</button>
					</a>
				</ng-template>
				<button (click)="logout()"
					class="mr-3 inline-block bg-yellow-400 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black transition duration-250 ease-in-out hover:bg-yellow-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 motion-reduce:transition-none">
					LogOut
				</button>
			</div>
		</div>
	</div>
</nav>