button {
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

/* nav {
	border-bottom: 1px solid rgba(73, 67, 113, 0.5);
}*/

.sp-div{
	background-color: #1a6ac51b;
	backdrop-filter: blur(3px) brightness(0.5) saturate(0.7);
	border: 1px solid rgba(73, 67, 113, 0.5);
	color: #cfe1e6;
}